/* Your app styles here */
.panel-left .logo{
    vertical-align: bottom;
    padding-right: 5px;
}
.navbar .logo-title{
    vertical-align: super;
    padding-left: 5px;
}
.color-gray{
    color: gray;
}
.no-arrow:before {
    display: none !important;
}
.navbar .right a{
    width: 40px !important;
    padding: 0 !important;
}
.navbar .right a:before{
    display: none !important;
}